@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  <br>
    <h2>To The Alliviation Disaster Foundation</h2>
  <br>
    <p> Our web app is for donations. Anybody who wants to assist may!</p>
  <br>
  <p>
        <img src="c:\users\lab_services_student\source\repos\st10097056_appr6312_part1\disasteralleviationfoundation\disasteralleviationfoundation\images\home.jpg" />

  </p>

</div>