@page
@model DisasterAlleviationFoundation.Pages.LoginModel
@{
}

<h2>Login</h2>


<div class="login-page">
    <div class="form">
        <form class="register-form">
            <br />
            <label for="username">Username</label><br>
            <input type="text" placeholder="username" />
            <br />
            <label for="password">Password</label><br>
            <input type="text" placeholder="password" />
            <br />

            <button type="submit" class="btn btn-primary">Login<a href="/Index"></a></button>
          
          
            <p class="message">Create new account? <a href="/Registration">Register</a></p>

        </form>

    </div>
</div>
