@page
@model DisasterAlleviationFoundation.Pages.RegistrationModel
@{
}


<h2>Register</h2>
<div class="registration-page">
    <div class="form">
        
       
            <label for="text">First Name</label><br>
            <input type="text" placeholder="Enter your first name..." />
            <br />
            <label for="text">Last Name</label><br>
            <input type="text" placeholder="Enter your last name..." />
            <br />

        <label for="text">Email</label><br>
        <input type="text" placeholder="Enter your email.." />
        <br />
        <label for="text">Password</label><br>
        <input type="text" placeholder="Enter your password..." />
        <br />
            
           <button type="submit" class="btn btn-primary">Register</button>
          
            <p class="message">Already have an account? <a href="/Login">Login</a></p>
        </>
    </div>
</div>