@page
@model DisasterAlliviationFoundation.Pages.ViewAllListsModel
@{
ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<br/>

<h2>All Lists</h2>
<br>
<a class="btn-light btn-sm" href="CaptureNewDisaster">Capture New Disaster</a>
<b>
    <a class="btn-light btn-sm" href="CaptureNewMonetaryDonations">Allocate Money</a>
</b>
    <a class="btn-light btn-sm" href="CaptureNewGoodsDonations">Allocate Goods</a>
<b>
    <a class="btn-light btn-sm" href="ViewAllLists">Available Goods</a>
</b>
<table class="table">
    <thread>
        <tr>
            <th>All Incoming Monetary Donations</th>
            <th>All Incoming Goods Donations</th>
            <th>All Disasters</th>
            <th>Available Goods</th>
            <th>Donate</th>
            <th>Delete</th>


        </tr>
    </thread>
    <tbody>
        @foreach (var viewAllLists in Model.ListViewAllLists)
        {
            
       
        <tr>

                <td>viewAllLists.All Incoming Monetary Donations</td>
                <td>viewAllLists.All Incoming Goods Donations</td>
                <td>viewAllLists.All Disasters</td>
                <td>viewAllLists.Available Goods</td>
                <td>viewAllLists.Edit<button type="submit" class="btn btn-primary">Donate< href="/CaptureNewMonetoryDonations"></></button></td>
                <td>viewAllLists.Delete<button type="submit" class="btn btn-primary">Delete< href="/CaptureNewMonetoryDonations"></></button></td>
                <td>
             
                </td>
                <td>

                </td>
        </tr>
        }
    </tbody>
</table>
