@page
@model DisasterAlleviationFoundation.Pages.CaptureNewMonetaryDonationsModel
@{
}
<h2>Capture New Monetory Donations</h2>
<div class="registration-page">
    <div class="form">


        <label for="text">Donor's Name'</label><br>
        <input type="text" placeholder="Enter your name..." />
        <br />
        <label for="text">Date</label><br>
        <input type="date" placeholder="Pick a date of the donation" />
        <br />

        <label for="text">Amount</label><br>
        <input type="text" name="currency-field" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="R0,000,000.00">
        <br />

        <button type="submit" class="btn btn-primary">Donate</button>

    </div>
</div>