@page
@model DisasterAlliviationFoundation.Pages.ViewAllListsModel
@{
ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<br/>

<h2>All Lists</h2>
<br>

<table class="table">
    <thread>
        <tr>
            <th>Total monetary donations received</th>
            <th>Total number of goods received</th>
            <th>Currently active disasters</th>
            <th>Allocated Disasters</th>
            <th>Alllocated Money</th>


        </tr>
    </thread>
    <tbody>
        @foreach (var viewAllLists in Model.ListViewAllLists)
        {


            <tr>

                <td>viewAllLists.Total monetary donations received</td>
                <td>viewAllLists.Total number of goods received</td>
                <td>viewAllLists.Currently active disasters</td>
                <td>viewAllLists.Allocated Disasters</td>
                <td>viewAllLists.Allocated Money</td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>